@tailwind base;
@tailwind components;
@tailwind utilities;




/* Add this CSS to your global stylesheet or a CSS module */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Darkened background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.overlay.hidden {
  display: none;
}
